# Entrance Challenge: When Will the Sakura Bloom?

***

**Name：Hoang Loc NGUYEN**

**Email: hoangloc0402@gmail.com**

**Submission Date：**

***

In [30]:
import pandas as pd
from pprint import pprint

In [34]:
import urllib
import re

# 0. Basics of the Sakura Bloom-cycle (5pts total)

In a year, sakura trees basically go through 4 phases: energy production, hibernation, growth, and of course flowering. These phases
roughly follow the seasons, but not exactly. <br>

   Production phase： Initial development of the buds（Summer-Fall） <br>
   Hibernation phase： Bud growth stops while the tree goes into hibernation（Late Fall-Winter） <br>
   Growth phase： Buds once again continue to grow when the tree comes out of its winter hibernation（Late Winter-Spring） <br>
   Flowering phase： The buds finally bloom in spring (as climate conditions allow), once they have been able to fully develop.（Spring） <br>
    
Each year, near the end of winter but before the trees finally bloom, the hibernation period ends. The sakura that rested through the winter once gain become metabolically active, and the buds continue to grow (though we may not immediately notice when this happens.) However, the cycle is not simply clockwork- for example, in places where the temperature is above 20℃ year-round, the trees are unable to hibernate sufficiently, and thus cannot blossom.
    
In this challenge, we have outlined the basic mechanism by which the sakura reach their eventual bloom-date. We consider building a bloom-date prediction model for the case of sakura in Tokyo, with the data split as follows: <br>
    
Test years： 1966, 1971, 1985, 1994, and 2008 <br>
Training years: 1961 to 2017 (Excluding the test years) <br>
    
You should fit the model to the data from the training years, then use the model to predict the bloom-date for each of the test years. The 3 models to be applied to the data are described below.

### Problem 0-1: (5pts)
Acquire data of sakura blooming date (桜の開花日) for Tokyo from 1961 to 2017 using the Japanese Meteorological Agency website (気象庁).

In [39]:
prefix = "https://www.data.jma.go.jp/sakura/data/sakura004_0"
postfix = ".html"
links = [prefix + str(x) + postfix for x in range(1,7)]
pprint(links)

['https://www.data.jma.go.jp/sakura/data/sakura004_01.html',
 'https://www.data.jma.go.jp/sakura/data/sakura004_02.html',
 'https://www.data.jma.go.jp/sakura/data/sakura004_03.html',
 'https://www.data.jma.go.jp/sakura/data/sakura004_04.html',
 'https://www.data.jma.go.jp/sakura/data/sakura004_05.html',
 'https://www.data.jma.go.jp/sakura/data/sakura004_06.html']

In [105]:
re.DOTALL = True
def parse_url(link):
    fp = urllib.request.urlopen(link)
    my_raw_str = fp.read().decode("utf8")
    fp.close()
    tokyo_line = re.findall("東京 .*\n", my_raw_str)[0]
    tokyo_num = re.findall("\d.*\d", tokyo_line)[0]
    tokyo_num = tokyo_num.split()[:-2]
    tokyo_num = [int(num) for num in tokyo_num]
    month = tokyo_num[0:][::2]
    date = tokyo_num[1:][::2]
    return month, date

In [113]:
year_list = range(1961,2019)
month_list = list()
date_list = list()
for link in links:
    mon, dat = parse_url(link)
    month_list+=mon
    date_list+=dat

In [116]:
df = pd.DataFrame.from_dict({'year':year_list, 'month': month_list, 'date': date_list})

In [117]:
print(df)

    year  month  date
0   1961      4     8
1   1962      4     9
2   1963      4     6
3   1964      4     5
4   1965      4    12
5   1966      4     5
6   1967      4     5
7   1968      4     3
8   1969      4    10
9   1970      4    15
10  1971      4     5
11  1972      4     1
12  1973      4     8
13  1974      4     9
14  1975      4     6
15  1976      3    31
16  1977      3    31
17  1978      4     9
18  1979      4     4
19  1980      4     8
20  1981      4     8
21  1982      3    31
22  1983      4     8
23  1984      4    17
24  1985      4    10
25  1986      4    10
26  1987      4     5
27  1988      4    11
28  1989      4     3
29  1990      3    26
30  1991      4     8
31  1992      4     1
32  1993      4     2
33  1994      4     5
34  1995      4     7
35  1996      4     7
36  1997      3    30
37  1998      3    31
38  1999      4     2
39  2000      4     6
40  2001      3    28
41  2002      3    21
42  2003      4     1
43  2004      3    29
44  2005      4     6
45  2006      3    28
46  2007      3    29
47  2008      3    27
48  2009      4     2
49  2010      4     1
50  2011      4     6
51  2012      4     6
52  2013      3    22
53  2014      3    30
54  2015      3    29
55  2016      3    31
56  2017      4     2
57  2018      3    24

In [14]:
data_path = "tokyo.csv"
bloom_date_data = pd.read_csv(data_path, sep=',')
bloom_date_data.iloc[0:10,]

,Unnamed: 0,year,month,day,現地平均気圧,海面平均気圧,合計降水量,1時間最大降水量,10分間最大降水量,平均気温,最高気温,最低気温,平均湿度,最低湿度,日照時間
0,0,1961,1,1,1011.7,1012.4,0.0,0.0,0.0,2.1,7.9,-3.9,41,15,8.6
1,1,1961,1,2,1020.2,1021.0,0.0,0.0,0.0,1.5,9.2,-3.3,51,26,8.7
2,2,1961,1,3,1021.3,1022.1,0.1,0.8,0.0,2.5,7.3,-2.4,58,37,5.4
3,3,1961,1,4,1004.6,1005.3,20.2,13.9,3.2,4.7,11.5,0.6,60,38,1.0
4,4,1961,1,5,1016.3,1017.0,0.0,0.0,0.0,3.8,7.7,1.4,33,19,8.3
5,5,1961,1,6,1014.0,1014.7,0.0,0.0,0.0,3.9,8.6,-0.2,54,35,1.4
6,6,1961,1,7,1018.5,1019.3,0.0,0.0,0.0,3.3,9.1,-0.8,50,28,8.2
7,7,1961,1,8,1022.7,1023.4,0.3,0.2,0.1,4.0,11.8,-2.0,60,25,7.9
8,8,1961,1,9,1020.2,1020.9,7.4,2.8,0.9,4.7,6.9,1.8,69,50,0.0
9,9,1961,1,10,1014.9,1015.6,2.3,0.8,0.2,5.3,6.4,3.5,79,72,0.0

In [18]:
# I use Google Translate to rename all column labels to English
columns_name = ["index", "year", "month", "day","Local average pressure", "Sea level average pressure", "Total precipitation", "1 hour maximum precipitation", "10 minutes Maximum precipitation", "Average temperature", "Highest temperature", "Lowest Temperature", "Average humidity", "Minimum humidity", "Sunshine hours"]
bloom_date_data.set_axis(columns_name, axis = "columns", inplace=True)
bloom_date_data.iloc[0:10,]

,index,year,month,day,Local average pressure,Sea level average pressure,Total precipitation,1 hour maximum precipitation,10 minutes Maximum precipitation,Average temperature,Highest temperature,Lowest Temperature,Average humidity,Minimum humidity,Sunshine hours
0,0,1961,1,1,1011.7,1012.4,0.0,0.0,0.0,2.1,7.9,-3.9,41,15,8.6
1,1,1961,1,2,1020.2,1021.0,0.0,0.0,0.0,1.5,9.2,-3.3,51,26,8.7
2,2,1961,1,3,1021.3,1022.1,0.1,0.8,0.0,2.5,7.3,-2.4,58,37,5.4
3,3,1961,1,4,1004.6,1005.3,20.2,13.9,3.2,4.7,11.5,0.6,60,38,1.0
4,4,1961,1,5,1016.3,1017.0,0.0,0.0,0.0,3.8,7.7,1.4,33,19,8.3
5,5,1961,1,6,1014.0,1014.7,0.0,0.0,0.0,3.9,8.6,-0.2,54,35,1.4
6,6,1961,1,7,1018.5,1019.3,0.0,0.0,0.0,3.3,9.1,-0.8,50,28,8.2
7,7,1961,1,8,1022.7,1023.4,0.3,0.2,0.1,4.0,11.8,-2.0,60,25,7.9
8,8,1961,1,9,1020.2,1020.9,7.4,2.8,0.9,4.7,6.9,1.8,69,50,0.0
9,9,1961,1,10,1014.9,1015.6,2.3,0.8,0.2,5.3,6.4,3.5,79,72,0.0

***
## 1. Prediction using the "600 Degree Rule" (15pts total)

For a rough approximaton of the bloom-date, we start with a simple "rule-based" prediction model, called the "600 Degree Rule". The rule consists of logging the maximum temperature of each day, starting  on February 1st, and sum these temperatures until the sum surpasses 600$^\circ$C. The day that this happens is the predicted bloom-date. This 600$^\circ$C threshold is used to easily predict bloom-date in various locations varies by location. However, for more precise predictions, it should be set differently for every location. In this challenge, we verify the accuracy of the "600 Degree Rule" in the case of Tokyo.

### Problem 1-1: (5pts)
From here-on, we refer to the bloom-date in a given year $j$ as $BD_{j}$. For each year in the training data, calculate the accumulated daily maximum temperature from February 1st to the actual bloom-date $BD_{j}$, and plot this accumulated value over the training period. Then, average this accumulated value as $T_{mean}$, and verify whether we should use 600$^\circ$C as a rule for Tokyo.

### Problem 1-2: (10pts)

Use the average accumulated value $T_{mean}$ calculated in 1-1 to predict $BD_{j}$ for each test year, and show the error from the actual $BD_{j}$. Compare to the prediction results when 600$^\circ$C is used a threshold value, and evaluate both models using the coefficient of determination ($R^2$ score).

***
## 2. Linear Regression Model: Transform to Standard Temperature (30pts total)

The year to year fluctuation of the bloom-date depends heavily upon the actual temperature fluctuation (not just the accumulated maximum). In order to get to a more physiologically realistic metric,  Sugihara et al. (1986) considered the actual effect of temperature on biochemical activity. They introduced a method of "standardizing" the temperatures measured, according to the fluctuation relative to a standard temperature.

In order to make such a standardization, we apply two major assumptions, outlined below.

#### 1) The Arrhenius equation: <br>

The first assumption, also known in thermodynamics as the "Arrhenius equation", deals with chemical reaction rates and can be written as follows:

$$
k = A \exp{ \Bigl(- \frac{E_{a}}{RT}} \Bigr)
$$ <br>

Basically, it says that each reaction has an activation energy, $E_{a}$ and a pre-exponential factor $A$. Knowing these values for the particular equation, we can find the rate constant $k$ if we know the temperature, $T$, and applying the universal gas constant, $R = 8.314 \rm [J/K・mol]$.

#### 2) Constant output at constant temperature: <br>

The second assumption, is simply that the output of a reaction is a simple product of the duration and the rate constant $k$, and that product is constant even at different temperatures.
    
$$
tk = t'k' = t''k'' = \cdots = \rm{const}
$$ <br>


Making the assumptions above, we can determine a "standard reaction time", $t_{s}$ required for the bloom-date to occur. We can do so in the following way:

<br>
$$
t_{s} = \exp \Bigl( \frac{E_{a}(T_{i, j} - T_{s})}{RT_{i, j}T_{s}}\Bigr)
$$ <br>

We define $T_{i, j}$ as the daily average temperature, and use a standard temperature of $T_{s} = 17^\circ\rm{C}$. For a given year $j$, with the last day of the hibernation phase set as $D_ {j}$, we define the number of "transformed temperature days",  $DTS_{ J}$,  needed to reach from $D_ {j}$ to the bloom-date $BD_{j}$ with the following equation:


<br>
$$
DTS_{j} = \sum_{i=D_{j}}^{BD_{j}} t_{s} = \sum_{i=D_{j}}^{BD_{j}} \exp \Bigl( \frac{E_{a}(T_{i, j} - T_{s})}{RT_{i, j}T_{s}}\Bigr)
$$ <br>



From that equation, we can find the average $DTS$ for $x$ number of years ($DTS_{ mean}$) as follows: 

<br>
$$
\begin{align}
DTS_{\rm{mean}} &= \frac{1}{x} \sum_{j}^{x} DTS_{j} \\
&= \frac{1}{x} \sum_{j}^{x} \sum_{i=D_{j}}^{BD_{j}} \exp \Bigl( \frac{E_{a}(T_{i, j} - T_{s})}{RT_{i, j}T_{s}}\Bigr)
\end{align}
$$ <br> <br>

In this exercise, we assume that $DTS_{ mean}$ and $E_{ a}$ are constant values, and we use the data from the training years to fit these 2 constants. The exercise consists of 4 steps:
1. Calculate the last day of the hibernation phase $D_ {j}$ for every year $j$.
2. For every year $j$, calculate $DTS_{ j}$ as a function of $E_{ a}$, then calculate the average (over training years) $DTS_{ mean}$ also as a function of $E_{ a}$.
3. For every year $j$, and for every value of $E_{ a}$, accumulate $t_{s}$ from $D_ {j}$ and predict the bloom date $BD_{j}^{\rm{pred}}$ as the day the accumulated value surpasses $DTS_{ mean}$. Calculate the bloom date prediction error as a function of $E_{ a}$, and find the optimal $E_{ a}$ value that minimizes that error.
4. Use the previously calculated values of $D_ {j}$, $DTS_{ mean}$, and $E_{ a}$ to predict bloom-day on years from the test set.

### Problem 2-1: (5pts)
According to Hayashi et al. (2012), the day on which the sakura will awaken from their hibernation phase, $D_{j}$, for a given location, can be approximated by the following equation:
<br> <br>
$$
D_{j} = 136.75 - 7.689 \phi + 0.133 \phi^{2} -1.307\ln L + 0.144T_{F} + 0.285T_{F}^2
$$ <br>

where $\phi$ is the latitude [°N], $L$ is the distance from the nearest coastline [km], and $T_{F}$ is that location's average temperature [°C] over the first 3 months of a given year. In the case of Tokyo, $\phi = 35°40'$ and $L=4\rm{km}$.

Find the $D_{j}$ value for every year $j$ from 1961 to 2017 (including the test years), and plot this value on a graph. 

(In Problem 1, we had assumed a $D_j$ of February 1st.)

### Problem 2-2: (10pts)
Calcluate $DTS_j$ for each year $j$ in the training set for discrete values of $E_{a}$, varying from 5 to 40kcal ($E_{a} = 5, 6, 7, \cdots, 40 \,\rm{kcal}$), and plot this $DTS_j$ against $E_{a}$. Also calculate the average of $DTS_{j}$ over the training period, and indicate it on the plot as $DTS_{mean}$. Pay attention to the units of **every parameter** ($T_{i,j}$, $E_{a}$, ...) in the equation for $t_{s}$.

### Problem 2-3: (11pts)
Using the same $E_{a}$ values and calculated $DTS_{mean}$ from 2-2, predict the bloom date $BD_{j}$ for each of the training years. Find the mean squared error relative to the actual $BD$ and plot it against $E_{a}$. Find the optimal $E_{a}^{*}$ that minimizes that error on the training data.

### Problem 2-4: (4pts)

Using the $D_j$ dates from problem 2-1, the average $DTS_{mean}$ from 2-2, and the best-fit $E_{a}^{*}$ from 2-3, predict the bloom-dates $BD_j$ for the years in the test set. Determine the error between your predicted $BD_j$ values and the actual values, and evaluate this model using the coefficient of determination ($R^2$ score).

### Problem 2-5: (extra 10pts)
Discuss any improvements you could make to the model outlined above. If you have a suggestion in particular, describe it. How much do you think the accuracy would be improved?

***
## 3. Predicting Bloom-date via Neural Network (30pts total)

### Problem 3-1: (20pts)

Build a neural network and train it on the data from the training years. Use this model to predict the bloom-dates for each year in the test set. Evaluate the error between predicted dates and actual dates using the coefficient of determination (R2 score). Only use the weather data given in `tokyo.csv` and the sakura data acquired in problem 0-1.</br>
You may use whichever framework or strategy that you like to construct the network.

### Problem 3-2: (10pts)
Compare the performance (via $R^2$ score) of the 3 implementations above: the 600 Degree Rule, the DTS method, and the neural network approach. For all methods, and each test year, plot the predicted date vs. the actual date. Discuss the accuracy and differences of these 3 models.

***
## 4. Trends of the Sakura blooming phenomenon (20pts total)

### Problem 4-1: (20pts)
Based on the data from the past 60 years, investigate and discuss trends in the sakura hibernation ($D_{j}$) and blooming ($BD_{j}$) phenomena in Tokyo.